<html>
<head>
  <meta charset="utf-8">
  <title>Foo</title>
</head>
<body>
  <header>
    The header
  </header>
  <div class="container">
    <div id="view" class="row">
    </div>
  </div>
  <footer>
    The footer
  </footer>
<link type="text/css" rel="stylesheet" href="/static/css/kuroneko.css">
<!--script>var transition = {pid: '', host: 'localhost', port:'8000'};</script-->
<script>{{script}}</script>
<script src='/n2o/protocols/bert.js'></script>
<script src='/n2o/protocols/client.js'></script>
<script src='/n2o/protocols/nitrogen.js'></script>
<script src='/n2o/bullet.js'></script>
<script src='/n2o/xhr.js'></script>
<script src='/n2o/utf8.js'></script>
<script src='/n2o/template.js'></script>
<script src='/n2o/n2o.js'></script>
<script src='/n2o/validation.js'></script>
<script src='/n2o/ftp.js'></script>
<!--script src='https://synrc.com/hi.js'></script-->
<script>protos = [$client,$bert]; N2O_start();</script>
</body>
</html>
